.header {
  width: 100%;
  position: fixed;
  padding: 0 2rem 0 2rem;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

.nav_menu {
  display: flex;
  gap: 3rem;
}
.nav_container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.nav_logo {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}
.nav_toggle,
.nav_close {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav_list {
  display: flex;
  column-gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav_icon,
.nav_close,
.nav_toggle {
  display: none;
}

.active-link,
.nav_link:hover {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: 5rem;
  }
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
  .show-menu {
    bottom: 0;
  }

  .nav_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .nav_icon {
    font-size: 1.2rem;
  }
  .nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  .nav_close:hover {
    color: var(--text-color);
  }

  .nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav_icon {
    display: block;
  }
  .nav_close {
    display: block;
  }

  .nav_toggle {
    display: block;
    margin-left: auto;
  }
}

@media screen and(max-width:350px) {
  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav_list {
    column-gap: 0;
  }
}
