.footer {
  padding: 7rem 2rem 2rem 2rem;
}

.footer_container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-evenly;
}

.footer_list {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.footer_copy {
  font-weight: var(--font-normal);
  font-size: var(--small-font-size);
  margin-left: 14rem;
  margin-top: 5px;
}

a {
  color: var(--text-color);
  font-weight: var(--font-normal);
  font-size: var(--footer-font-size);
}
li {
  margin-top: 5px;
}
