@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  --text-color: #fff;
  --body-color: #011936;
  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --footer-font-size: 1.1rem;
  --normal-font-size: 1.05rem;
  --small-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-normal: 100;
  --font-medium: 300;
  --font-semi-bold: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
